services:
  dynamodb-local:
    container_name: dynamodb-local
    image: amazon/dynamodb-local:latest
    ports:
      - 8000:8000
    networks:
      - nuzlook_network
    working_dir: /home/dynamodblocal
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
   
  dynamodb-admin:
    container-name: dynamodb-admin
    image: aaronshaf/dynamodb-admin
    ports:
      - 8001:8001
    networks:
      - nuzlook_network
    environment:
      DYNAMO_ENDPOINT: "http://dynamodb-local:8000"
      AWS_REGION: local
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
    depends_on:
      - dynamodb-local

volumes:
  dynamodb_data:

networks:
  nuzlook_network: